@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
 

 *{  margin: 0;
   font-family: "Quicksand";
   color: #333;
   box-sizing: border-box;
 }

 .navbar {
   padding: 20px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   border-bottom: 1px solid #f2f2f2;
 }

 .navbar-title {
   color: #f1356d;
   flex: 2.5;
 }

 .navbar .links {
  flex: 5;   
 }

 .navbar a,.logout {
   margin-left: 16px;
   text-decoration: none;
   padding: 6px;
 }

.logout{
  align-self: flex-end;
}

 .logout:hover{
  background-color:rgba(0, 0, 0, 0.05);
  cursor: pointer;
 }

 .navbar a:hover {
   color: #f1356d;
 }

 .navbar .user{
  margin-left: 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
 }

 .content {
   max-width: 600px;
   margin: 40px auto;
   padding: 20px;
 }

 


 /* blog previews / list */
 .blog-preview {
   padding: 10px 16px;
   margin: 20px 0;
   border-bottom: 1px solid #fafafa;
 }

 .blog-preview:hover {
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
 }

 .blog-title {
   font-size: 20px;
   color: #f1356d;
   margin-bottom: 8px;
 }
 .blog-preview a{
  text-decoration: none;
 }
 
 .no-blog{
  margin: 30px;
 }


/* blog content page */

.blog-content-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 20px;
}

.blog-content-preview span {
  margin: 20px 0;
  display: block;
}

.blog-content-preview button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-content-preview .edit-button{
  margin-left: 15px;
}


/* create new blog form */

 .create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* search blog  */

.search-input{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.search-input input {
  border-radius: 20px;
  padding: 5px;
  padding-left: 8px;
  margin-bottom: 30px;
  width: 50vw;
  max-width: 500px;
}

.search-input input:focus{
  outline: none;
}


/* edit blog  */

.blog-content-preview textarea {
  width: 50vw;
  max-width: 600px;
  margin-top: 15px;
} 

.blog-content-preview textarea:focus {
  outline: none;
}


/* Register page */
.register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
 
.register-form input{
  margin: 10px;
  font-size: 1.2em;
  padding: 5px;
}

.register-button{
  margin-top: 15px;
  font-size: 1.2em;

}